.form-label {
  color: var(--black-color);
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
}

textarea,
.textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  border: 1px solid var(--tertiary-color, #898989);
  color: #414141;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  height: 9.375rem;
  display: inline-flex;
  padding: 16px 20px;
  margin-bottom: 1rem;
}


textarea::placeholder,
.textarea::placeholder {
  color: #b7b7b7;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: normal;
}